.main {
  padding: 20px;
}

.link {
  text-decoration: none;
  color: blue;
  margin-bottom: 20px;
  display: inline-block;
}

.introTitle {
  margin-top: 32px;
  font-size: 2rem;
  font-weight: bold;
}

.selectionProvider {
  display: flex;
  gap: 16px;
}

.stepsContainer {
  flex: 1;
  margin-top: 128px;
  margin-bottom: calc(100vh - 90px);
  margin-left: 8px;
  padding: 10px;
  background: #1a1a1a;
  border-radius: 8px;
  overflow-y: auto;
}

.step {
  border-left: 4px solid #3c3c3c;
  padding: 20px;
  margin-bottom: 96px;
  border-radius: 8px;
  background: #1a1a1a;
}

.step[data-selected="true"] {
  border-color: #0070f3;
}

.stepTitle {
  margin-top: 16px;
  font-size: 1.25rem;
  color: white;
}

.codeContainer {
  width: 40vw;
  max-width: 600px;
  background: #1a1a1a;
  border-radius: 8px;
}

.codeSticky {
  position: sticky;
  top: 16px;
  max-height: calc(100vh - 32px);
  overflow-y: auto;
}

.outroTitle {
  margin-top: 32px;
  font-size: 1.5rem;
  font-weight: bold;
}

.pre {
  min-height: 40rem;
  background: transparent;
}
